<div class="login-container">
  <h2>Вхід</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <label for="email">Електронна пошта:</label>
      <input id="email" type="email" formControlName="email">
    </div>
    <div class="form-field">
      <label for="password">Пароль:</label>
      <input id="password" type="password" formControlName="password">
    </div>
    <button type="submit" [disabled]="!loginForm.valid">Увійти</button>
  </form>
  
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>