.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.welcome-card {
  max-width: 400px;
  text-align: center;
  padding: 2em;
  color: white;
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  a {
    text-decoration: none;
  }
}