.admin-dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #004d40;
}

.dashboard-container {
  flex-grow: 1;
}

.toolbar {
  background-color: #00796b;
  color: white;
}

.sidebar {
  width: 250px;
  background-color: #00796b;
  color: white;
  padding: 20px 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  
  .mat-button {
    color: white;
    padding: 15px 20px;
    text-align: left;
    font-size: 1rem;
    line-height: normal;
    
    .mat-icon {
      margin-right: 10px;
    }

    &:hover, &.active {
      background-color: #004d40;
    }
  }
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #e0f2f1; // Lighter turquoise background
}

.view-section {
  background-color: #00796b;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h2 {
    margin-top: 0;
    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .table-container {
    overflow-x: auto;
  }

  .full-width-table {
    width: 100%;
    
    .mat-header-cell {
      background-color: #004d40;
      color: white;
    }
    
    .mat-cell {
      color: white;
    }
    
    .mat-row {
      background-color: #00796b;
      
      &:hover {
        background-color: #004d40;
      }
    }
  }
}